@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Open+Sans:wght@300;600;700;800&display=swap');

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #222;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Chewy', cursive;
}

i{
	font-family: fontawesome;
	font-style: normal;
}

.navbar-brand{
	font-family: 'Chewy', cursive;
  font-size: 40px !important;
  color: #000 !important;
}

.top-bar {
    background: yellow;
    color: #000 !important;
    padding: 5px 0;
    position: relative;
}
.top-bar:after{
	background-image: linear-gradient(29deg, transparent 30px,yellow 31px), linear-gradient(319deg, yellow 16px, transparent 17px);
    background-size: 23px 40px;
    background-repeat: repeat-x;
    position: absolute;
    content: "";
    width: 100%;
    height: 19px;
    bottom: -19px;
}
.top-bar p{
	margin-bottom: 0;
	font-size: 13px;
	font-weight: 600;
}

.top-bar ul{
	list-style: none;
	padding: 0;
	text-align: right;
	margin-bottom: 0;
}

.top-bar ul li {
    font-size: 13px;
    font-weight: 600;
    display: inline-block;
    padding-left: 20px;
    position: relative;
}
.top-bar ul li:after{
	position: absolute;
    width: 1px;
    height: 10px;
    background: #000;
    right: -12px;
    content: "";
    top: 5px;
}
.top-bar ul li:last-child:after{
	display: none;
}
.top-bar a{
	color: #000 !important;
	text-decoration: none;
}

.header {
    padding: 20px 0 0 0;

}

.header .navbar-expand-lg{
	justify-content: flex-end;
}
.header .navbar-expand-lg .navbar-collapse{
	justify-content: flex-end;
}

.header .navbar ul li a.nav-link{
	color: #000 !important;
	font-size: 16px;
	font-weight: 600;
	padding: 0 15px;
}

.header .navbar ul li:last-child a.nav-link{
	padding-right: 0;
}

.cart-cir-icon {
    position: fixed;
    right: 20px;
    z-index: 9;
    top: 62px;
    background: none !important;
}

.cart-cir-icon #collapseExample{
  position: absolute;
  right: 0;
  width: 260px;
}

.cart-cir-icon #collapseExample .pro-img{
  width: 100%;
  height: auto;
}

.cart-cir-icon #collapseExample .pro-img img{
  width: 100%;
}
.cart-cir-icon #collapseExample .pro-dis{
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}
.cart-cir-icon #collapseExample .pro-dis:last-child{
  border: none;
}
.cart-cir-icon #collapseExample .pro-dis h5{
  margin: 0;
}
.cart-cir-icon #collapseExample .pro-dis p{
  margin: 0;
}

.cart-cir-icon #collapseExample .pro-dis p .qty{
  font-size: 12px;
  margin: 0 5px 0 10px;
}

.cart-cir-icon #collapseExample .row.ftr-crt {
    background: #ddd;
    margin-top: 15px;
    border-radius: 5px;
    align-items: center;
    padding: 5px;
}

.cart-cir-icon #collapseExample .row.ftr-crt p{
  margin:0 0 0 10px;
}

.cart-cir-icon a.circle {
    width: 50px;
    height: 50px;
    background: #ffa500;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 56px;
    font-size: 18px;
    font-style: normal;
    color: #fff !important;
    text-decoration: none;
    position: relative;
}

.cart-cir-icon a.circle span.cnt {
    position: absolute;
    top: 0;
    width: 23px;
    height: 23px;
    font-size: 10px;
    background: #000;
    line-height: 25px;
    border-radius: 50%;
}

.slider .carousel{
	height: 500px;
}

.slider .carousel-inner{
	height: 500px;
}
.slider .carousel-inner .carousel-item{
	position: relative;
}
.slider .overlay{
	position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(0 0 0 / 58%);
    z-index: 2;
    content: "";
    top: 0;
}
.slider .carousel-inner img{
	width: 100%;
	height: auto;
	z-index: 1;
	position: relative;
}

.slider .carousel-caption{
    z-index: 9;
    position: absolute;
    top: 15%;
}

.slider .carousel-caption h5 {
    font-size: 62px;
    transform: rotate(-4deg);
    position: relative;
}

.slider .carousel-caption h5:after{
	position: absolute;
	width: 200px;
	height: 7px;
	background: yellow;
	content: "";
	left: 0;
	right: 0;
	top: -20px;
	margin: 0 auto;
}

.slider .carousel-caption p {
    font-size: 18px;
    transform: rotate(-4deg);
}

.slider .carousel-caption p:after{
	position: absolute;
	width: 200px;
	height: 7px;
	background: orange;
	content: "";
	left: 0;
	right: 0;
	bottom: -30px;
	margin: 0 auto;
}

.ser-box {
    background: yellow;
    height: 250px;
    text-align: center;
    background-image: url(../imgs/pattern.png) !important;
    background-position: right -760px;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    justify-content: center;
    padding: 0 60px;
}

.cart-box {
    background: #f7f7f7;
    text-align: center;
    background-image: url(../imgs/pattern.png) !important;
    background-position: right 310px;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    justify-content: center;
    padding:20px;
}

.cart-box img{
  width: 50% !important;
}

#cart-stiky.cart-box h3{
  color: #000 !important;
}

#cart-stiky.cart-box .custom-btn{
  background: #000 !important;
  color: #fff !important;
  border:none;
}

#cart-stiky.cart-box a{
  color: #000 !important;
}

.filter-content .list-group a, .custom-btn2{
  color: orange !important;
}

.ser-box h3{
	font-size: 32px;
}

.ser-box p{
	font-size: 14px;
	font-weight: 600;
	position: relative;
	margin-bottom: 0;
}

.ser-box p:after{
	position: absolute;
    width: 180px;
    height: 5px;
    background: #ffffffa8;
    content: "";
    left: 0;
    right: 0;
    bottom: -30px;
    margin: 0 auto;
    transform: rotate(-5deg);
}

.two{
	background: #CDDC39;
	background-position:left -710px;
}

.three{
	background: #009688;
	background-position: center -210px;
}

section.card-area {
    background: #fff7df;
    padding: 70px 0;
}

section.card-area .title{
	text-align: center;
	margin-bottom: 30px;
	position: relative;
}

section.card-area .title:after{
	position: absolute;
	width: 200px;
	height: 7px;
	background: orange;
	content: "";
	left: 0;
	right: 0;
	bottom: -30px;
	margin: 0 auto;
	transform: rotate(2deg);
}

section.card-area .title h1{
	font-size: 42px;
    color: #ffb542;
}

section.card-area .title p{
	font-size: 15px;
	font-weight: 600;
	padding: 0 20%;
	margin-bottom: 100px;
}
section.card-area .carousel-area{
	margin-top: 80px;
}
section.card-area .carousel-area ul{
	padding: 0;
	list-style: none;
}

section.card-area .carousel-area ul li{
	display: inline-block;
	margin: 0 9px;
}
section.bar-info {
    background: #009688;
    padding: 20px 0;
    position: relative;
}
section.bar-info:after{
	background-image: linear-gradient(29deg, transparent 30px,#009688 31px), linear-gradient(319deg, #009688 16px, transparent 17px);
    background-size: 23px 40px;
    background-repeat: repeat-x;
    position: absolute;
    content: "";
    width: 100%;
    height: 19px;
    bottom: -19px;
}
section.bar-info h3{
	font-size: 36px;
	color:#fff;
	margin-bottom: 0;
}
section.bar-info a.cstm-btn {
    border: 2px solid #fff;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    font-size: 17px;
    color: #fff !important;
    font-weight: 600;
    text-decoration: none;
}
footer {
    background: #000;
    padding:80px 0 0 0;
    background-image: url(../imgs/pattern.png) !important;
    background-position: center;
}
.ftr-top {
    padding: 30px 0 60px 0;
}
footer .form-area {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

footer .form-area h3 {
    font-size: 42px;
    color: yellow;
    position: relative;
}

footer .form-area h3:after{
	position: absolute;
	width: 200px;
	height: 5px;
	background: orange;
	content: "";
	left: 0;
	right: 0;
	bottom: -15px;
	margin: 0 auto;
	transform: rotate(2deg);
}

footer .form-area h3:before{
	position: absolute;
	width: 200px;
	height: 5px;
	background: orange;
	content: "";
	left: 0;
	right: 0;
	top:-15px;
	margin: 0 auto;
	transform: rotate(2deg);
}

footer .form-area p{
	font-size: 16px;
    font-weight: 500;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 30px;
}

footer .form-area input[type="email"] {
    width: 70%;
    padding: 10px;
    border: none;
    margin-right: 10px;
}

footer .form-area input[type="submit"], .custom-btn {
    width: 20%;
    padding: 10px;
    border: none;
    background: orange;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

footer .social ul {
    display: inline-block;
    width: 100%;
    padding: 0;
    text-align: center;
    list-style: none;
    margin-top: 20px;
}

footer .social ul li{
	display: inline-block;
	margin: 0 5px;
}

footer .social ul li a{
	display: inline-block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	background: yellow;
	border-radius: 50%;
	text-decoration: none;
	font-size: 20px;
	color: #000 !important;
}

.copyright {
    display: inline-block;
    width: 100%;
    background: #232222;
    padding: 10px 0;
}

.copyright ul{
	padding: 0;
	list-style: none;
	margin: 0;
}

.copyright ul li{
	display: inline-block;
	margin-right: 20px;
	position: relative;
}

.copyright ul li:after{
	position: absolute;
    width: 1px;
    height: 10px;
    background: #fff;
    right: -12px;
    content: "";
    top: 7px;
}

.copyright ul li a{
	color: #fff !important;
	text-decoration: none;
}

.copyright ul li a:hover{
	color: orange !important;
}

.copyright ul li:last-child:after{
	display: none;
}

.copyright p{
	margin: 0;
	color: #fff;
	text-align: right;
}

section.card-area .carousel-area.desktop{
		display: block !important;
}
section.card-area .carousel-area.mobile{
		display: none !important;
}

.inner-hero-area.slider .carousel-inner {
    height: 270px;
}

.plan-list h3{
	text-align: center;
	margin-bottom: 20px;
}
.plan-list ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

.plan-list ul li {
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    box-shadow: 0px 1px 1px #0000001f;
    color: #000;
    font-weight: bold;
    background: #fff;
}

.plan-list ul li span{
	float: right;
}

.plan-list ul.ff li{
	background:yellow;
}
.plan-list ul.dd li{
	background: #CDDC39;
}

.plan-list ul.cc li{
	background: #009688;
}

/*Button UI*/
ul.meals li{
	position: relative;
  /*color: #AAAAAA;
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 100px;
	border-bottom: 1px solid #333;*/
}

ul.meals li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

ul.meals li label{
  display: block;
  position: relative;
  font-weight: 700;
  padding: 0 0 0 30px;
  margin: 0 auto;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  border:none !important;
  text-align: left;
}

ul.meals li:hover label{
	color: #FFFFFF !important;
	border:none !important;
}

ul.meals li .check{
  display: block;
    position: absolute;
    border: 3px solid #000;
    border-radius: 100%;
    height: 18px;
    width: 18px;
    top: 9px;
    left: 20px;
    z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

ul.meals li:hover .check {
  border: 3px solid #FFFFFF;
}

ul.meals li .check::before {
  	display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 8px;
    width: 8px;
    top: 2px;
    left: 2px;
    margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

ul.meals input[type=radio]:checked ~ .check {
  border: 3px solid #fff;
}

ul.meals input[type=radio]:checked ~ .check::before{
  background: #fff;
}

ul.meals input[type=radio]:checked ~ label{
  color: #fff !important;
}

/*==================*/
h3.meal-days{
	position: relative;
  /*color: #AAAAAA;
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 100px;
	border-bottom: 1px solid #333;*/
}

h3.meal-days input[type=radio]{
  position: absolute;
  visibility: hidden;
}

h3.meal-days label{
  display: block;
  position: relative;
  font-weight: 700;
  padding: 0 0;
  margin: 0 auto;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
  padding: 10px;
  border-radius: 10px;
  border:2px solid transparent;
}

h3.meal-days:hover label{
	color: #ffb542;
	border:2px solid #f7e7b9;

}

h3.meal-days:hover label label{
	color: #000;

}


h3.meal-days input[type=radio]:checked ~ label{
  color: #ffb542;
  border:2px solid #f7e7b9;
}

/*==================*/
.customize-yr-meal ul{
	padding: 0;
	list-style: none;
}
.customize-yr-meal ul li{
	position: relative;
	width: 100%;
}

.customize-yr-meal ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.customize-yr-meal ul li label{
  display: block;
  position: relative;
  font-weight: 700;
  padding: 0 0;
  margin: 0 auto;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: center;
  border:2px dashed #ccc;
  border-radius: 10px;
}

.customize-yr-meal ul li:hover label{
	color: #ffb542;
	border-color:#ffb542;
}

.customize-yr-meal ul li input[type=radio]:checked ~ label{
  color: #ffb542;
  border-color:#ffb542;
}
/*==================*/
ul.ks-cboxtags {
    list-style: none;
    padding: 20px 0;
}
ul.ks-cboxtags li{
  display: inline-block;
  width: 22%;
  margin:10px 15px;
}
ul.ks-cboxtags li label{
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: 10px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: fontawesome;
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
    position: absolute;
    right: 10px;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
    color: #000;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 2px solid #ecdeb3;
    background-color: #fdecba;
    transition: all .2s;
    color: #000;
}

ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
  border: 2px solid #ecdeb3;
}

ul.ks-cboxtags li label span.img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	overflow: hidden;
	display: inline-block;
}

ul.ks-cboxtags li label span.tt{
	display: inline-block;
	width: 100%;
	margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
}
ul.ks-cboxtags li label span.tt span.price{
	float: right;
}

ul.ks-cboxtags li label span img{
	max-height: 80px;
	width: auto;
}

.meal-lists span.total-price {
    float: right;
    border: 1px solid #ffa500;
    padding: 2px 15px;
    border-radius: 10px;
    font-size: 22px;
}

.meal-lists span.total-price span{
	color: #ffa500;
}

.meal-list-cat{
  padding: 0;
  list-style: none;
}

.meal-list-cat .meal-item {
    display: inline-block;
    width: 48%;
    margin: 0 10px 30px 10px;
    padding: 20px;
    border-radius: 10px;
    background: #ffe4b5;
    box-shadow: 0 0 12px #0000001a;
    background-image: url(../imgs/pattern.png) !important;
    background-position: 0 60px;
}

.meal-list-cat .meal-item .item{
  display: flex;
  vertical-align: middle;
  align-items: center;
}
.meal-list-cat .meal-item .item .left{
  width: 80%;
}
.meal-list-cat .meal-item .item .right{
  width: 20%;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    color: yellow;
    background: #000;
    transform: rotate(-15deg);
    padding: 10px;
}

.sub .meal-list-cat .meal-item{
  width: 100%;
  margin: 0 0 30px 0;
  background: yellow;
  background-image: url(../imgs/pattern.png) !important;
  background-position: bottom;
}

.sub .title{
  margin-bottom: 5rem !important;
}

.sub .meal-list-cat .meal-item.gr{
  background: #ddffdd;
}
body.modal-open{
  padding-right: 0 !important;
}
.modal-header{
  border-bottom: none !important;
}

.modal-content{
  background-color: #ff0 !important;
  border: none !important;
  border-radius: 20px !important;
}

.modal-body{
  padding: 0 40px 20px 40px !important;
}

.modal-body h3{
  color: #000 !important;
}
.modal-body form{
  width: 100%;
  text-align: center;
}

.modal-body form a{
  color: #000 !important;
}

.modal-body form input{
  border-color: #000 !important;
  border-radius: 0 !important;
}

.modal-body form button.custom-btn{
  border: none;
  background: #000;
  color: #fff;

  text-transform: uppercase;
  margin-top: 20px;
  border:2px solid #000 !important;
}

.modal-body form button.custom-btn svg{
  margin-left: 10px;
}

.modal-body form button.custom-btn:hover{
  background: none !important;
  border:2px solid #000 !important;
  color: #000 !important;
}

.modal-body .description form ul,
.modal-body .description form h4{
  text-align: left;
  padding-left: 0;
  list-style: none;
}
.modal-body .description form  .count-footer{
  margin-top: 20px;
}
.modal-body .description form  .count-footer .increment-buttons{
  text-align: left;
}

.modal-body .description .count-footer .increment-buttons button{
  background: none;
    border: 1px solid #000;
    box-shadow: none;
}
.modal .close {
    position: absolute;
    top: 30px !important;
    right: 30px !important;
    font-size: 19px !important;
    padding: 0 !important;
    z-index: 999;
    font-weight: normal;
    width: 25px;
    height: 25px;
    background: #000;
    line-height: 19px;
    box-shadow: none;
    text-shadow: none;
    color: #fff;
    border-radius: 50%;
}
.modal .close:hover{
  color: #fff;
}

.cart-menu-fixed .nav-tabs li a{
  color:orange !important;
}

.inner-section{
  margin-top: 60px;
}

.cart-menu-fixed .offset-categories{
  width: 100% !important;
}

.product h2{
  color: yellow !important;
}
.checkoutpage label input{
  margin-right: 8px;
}

/*Rating Card*/
.rating-area img{
    width: 100%;
    height: auto;
}

.rating-area .for-mb{
    display: none;
}

/*MAP*/

.deliver-area .locations {
    background: url('https://i.ibb.co/kGBXPcq/map.png');
    padding: 15px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 4px 4px #0000000d
}

.deliver-area .locations h3{
    display: inline-block;
    font-size: 22px;
    margin-right: 15px;
    margin-bottom: 0;
    position: relative;
    z-index: 2;
    margin-top: 6px;
    float: left;
}

.deliver-area .locations h3 .svg-inline--fa{
    color: #01a8fb !important;
    margin-right: 10px;
}

.deliver-area .locations ul{
    padding: 0;
    text-align:right;
    list-style: none;
    display: inline-block;
    z-index: 2;
    margin: 0;
    position: relative;
    float: right;
}

.deliver-area .locations ul li{
    display: inline-block;
    margin:0 3px;
}
.deliver-area .locations ul li a{
    background: #00000082;
    padding: 0;
    height: 40px;
    width: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff !important;
    font-weight: bold;
    font-size: 13px !important;
    text-decoration: none;
}
.deliver-area .locations ul li a:hover{
    background: #01a8fb;
}
.deliver-area .overlay-bg {
    background: #ffffffc7;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

/*MENU BOX*/
.menu-box{
    margin-top: 0;
}

.menu-box .title .img-box{
    display: inline-block;
    background: #fff;
    padding: 20px 10px 0 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 0 11px #0000001f;
}

section .pattern{
    background:  #f9e9cb;
    display: inline-block;
    width: 100%;
    padding: 40px 50px;
}
.menu-box .menu-card{
    padding: 20px 50px;
}
.menu-box .menu-card h3.tt{
    position: relative;
    color: #ffa500;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 70px;
}
.menu-box .menu-card h3.tt:after{
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    margin: 0 auto;
    background: url(../images/divider.png);
    height: 24px;
    width: 247px;
    background-repeat: no-repeat;
    bottom: -40px;
}

.menu-box .menu-card ul{
    list-style: none;
    padding: 0;
}

.menu-box .menu-card ul li{
    margin-bottom: 20px;
}

.menu-box .menu-card ul h3{
    font-size: 20px;
    color: #1c1c1c;
    border-bottom: 1px solid #fff7df;
    padding-bottom: 10px;
    font-weight: bold;
}

.menu-box .menu-card ul h3 span{
    float: right;
}

.menu-box .menu-card ul p{
    font-size: 13px;
    letter-spacing: 2px;
}

.title{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    padding: 0 100px;
}

.title img{
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.title h3{
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 20px;
}

.title p{
    font-size: 14px;
    line-height:28px;
    letter-spacing: 2px;
}


/*Reservation*/
.table-booked{
    padding-top: 60px !important;
    padding-bottom: 60px !important;
    margin-bottom: 50px;
}
.table-booked .img-box img{
    width: 100%;
    height: auto;
}

.table-booked .title{
    padding: 0;
}

.table-booked .title h3{
    margin-bottom: 60px;
    position: relative;
}
.table-booked .title h3:after{
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    margin: 0 auto;
    background: url(../images/divider2.png);
    height: 24px;
    width: 247px;
    background-repeat: no-repeat;
    bottom: -40px;
}

.table-booked .title p{
    line-height: 20px;
    letter-spacing: 1px;
}

.table-booked .frm-body label{
    font-size: 14px;
    font-weight: 600;
    color: #1b1e1f;
}

.table-booked .frm-body input,
.table-booked .frm-body textarea{
    border-radius: 0;
    font-size: 11px;
}
@media(max-width: 767px){
  html, body{
    overflow-x: hidden !important;
  }
	.top-bar p{
		text-align: center;
    padding: 0 30px;
	}

	.top-bar ul{
		text-align: center;
	}
  .header {
    padding: 30px 0 15px 0;
  }
  .navbar-brand{
    font-size: 22px !important;
  }

  .navbar-toggler{
    border:2px solid #000 !important;
  }
	.header .navbar-expand-lg {
    	justify-content: inherit;
      position: relative;
	}
  .header .navbar-expand-lg .navbar-toggler{
    position: absolute;
    right: 0;
    top: 0;
  }
	.slider .carousel-inner .carousel-item .overlay{
		height: 100%;
		background: rgb(0 0 0 / 75%);
	}
	.slider .carousel-inner, .slider .carousel{
		height: auto;
	}

	.slider .carousel-inner .carousel-caption h5{
		font-size: 32px;
	}

	.slider .carousel-inner .carousel-caption p{
		font-size: 14px;
	}

	.slider .carousel-inner .carousel-caption h5:after,
	.slider .carousel-inner .carousel-caption p:after{
		height: 3px;
	}
	section.card-area .title:after{
		height: 5px;
	}
	section.card-area .title h1{
		font-size: 29px;
	}
	section.card-area .title p{
		padding: 0;
	}
	section.card-area .carousel-area ul li{
		width: 45%;
	}
	section.card-area .carousel-area ul li img{
		width: 100%;
		height: auto;
	}

	section.card-area .carousel-area.desktop{
		display: none !important;
	}
	section.card-area .carousel-area.mobile{
		display: block !important;
	}
	section.card-area .carousel-area.mobile .carousel-item a{
		display: inline-block;
		width: 100%;
	}
	section.card-area .carousel-area.mobile .carousel-item a img{
		width: 100%;
		height: auto;
	}

	section.bar-info h3 {
	    font-size: 30px;
	    color: #fff;
	    margin-bottom: 20px;
	    text-align: center;
	}

	section.bar-info:after{
		bottom: -18px;
	}

	footer .form-area{
		width: 100%;
	}

	footer .form-area input[type="email"]{
		width: 60%;
	}
	footer .form-area input[type="submit"]{
		width: 30%;
	}
	.copyright p{
		text-align: center;
		margin-top: 5px;
	}

	.copyright ul li{
		margin-right: 11px;
	}
	.copyright ul li:after{
		right: -8px;
	}

  .rating-area .for-mb{
    display: block;
  }

  .rating-area .for-dktp{
    display: none;
  }

  .deliver-area .locations h3{
      margin-right: 0;
      margin-bottom: 20px;
      text-align: center;
  }

  .deliver-area .locations h3 .svg-inline--fa {
      color: #01a8fb !important;
      margin-right: 10px;
      display: inline-block;
      width: 100%;
      font-size: 30px;
  }

  .deliver-area .locations ul{
      text-align: center;
  }

  .deliver-area .locations ul li {
      display: inline-block;
      margin: 5px 3px;
  }

  .title{
    padding: 0;
  }
  .menu-box .menu-card{
    padding: 20px 0;
  }

  section .pattern{
    padding: 40px 20px !important;
  }

  .menu-box .menu-card ul h3{
    font-size: 13px;
  }


}
