<template>
    <div>
        <footer>
            <div class="ftr-top">
                <div class="container">
                    <div class="form-area">
                        <h3>Emails suck</h3>
                        <p>Ours don’t. Sign up for epic offers, diet tips & exercise bants!</p>
                        <div class="form-signup">
                            <input type="email" name="">
                            <input type="submit" value="Signup" name="">
                        </div>
                    </div>
                    <div class="social">
                        <ul>
                            <li>
                                <a href="#"><i class="fab fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <ul>
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#"> Cookie Policy</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <p>Copyright@Matrix, All Right Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</template>
