<template>
    <div>
        <header-menu></header-menu>

        <section class="slider">
            <div class="container-fluid p-0">
                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="../../imgs/s1.jpg" class="d-block" alt="...">
                            <div class="overlay"></div>
                            <div class="carousel-caption">
                                <h5>First slide label</h5>
                                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="../../imgs//s2.jpg" class="d-block" alt="...">
                            <div class="overlay"></div>
                            <div class="carousel-caption">
                                <h5>Second slide label</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </section>
        <div class="seprator"></div>

        <section class="section-one">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 p-0">
                        <div class="ser-box one">
                            <h3>YOU ORDER</h3>
                            <p>Choose from a selection of delicious, clean & healthy meals.</p>
                        </div>
                    </div>
                    <div class="col-md-4 p-0">
                        <div class="ser-box two">
                            <h3>WE PREPARE</h3>
                            <p>Our chefs freshly prepare and customise your meals according to your diet goals & macros.</p>
                        </div>
                    </div>
                    <div class="col-md-4 p-0">
                        <div class="ser-box three">
                            <h3>AND DELIVER!</h3>
                            <p>Get your meals delivered to your home or office at a time that is convenient for you.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="rating-area" style="background-color: #fff7df; padding: 50px 0 0 0;">
         <div class="container">
            <div class="rating-img"><a href="#"><img src="https://i.ibb.co/rdDNmNh/rating-bg.png" alt="rating-bg" border="0" class="for-dktp"> <img src="https://i.ibb.co/c6X6yB4/rating-bg-mb.png" alt="rating-bg" border="0" class="for-mb"></a></div>
         </div>
        </section>
        <section class="card-area">
            <div class="container">
                <div class="title">
                    <h1>SO, WHAT TAKES YOUR FANCY?</h1>
                    <p>Maecenas maximus quam eget massa feugiat finibus. Ut facilisis arcu in purus malesuada, sed aliquet urna accumsan. Nullam luctus bibendum nulla</p>
                </div>
                <div class="carousel-area desktop">
                    <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-interval="10000">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <img src="../../imgs//s01.png">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../imgs//s02.png">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../imgs//s03.png">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../imgs//s04.png">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../imgs//s05.png">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="carousel-item" data-interval="2000">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <img src="../../imgs//s04.png">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../imgs//s05.png">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../imgs//s01.png">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../imgs//s02.png">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../imgs//s01.png">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="carousel-area mobile">
                    <div id="carouselExampleIntervalmb" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-interval="10000">
                                <a href="#">
                                    <img src="../../imgs//s01.png">
                                </a>
                            </div>
                            <div class="carousel-item" data-interval="2000">
                                <a href="#">
                                    <img src="../../imgs//s02.png">
                                </a>
                            </div>
                            <div class="carousel-item" data-interval="3000">
                                <a href="#">
                                    <img src="../../imgs//s03.png">
                                </a>
                            </div>
                            <div class="carousel-item" data-interval="4000">
                                <a href="#">
                                    <img src="../../imgs//s04.png">
                                </a>
                            </div>
                            <div class="carousel-item" data-interval="5000">
                                <a href="#">
                                    <img src="../../imgs//s05.png">
                                </a>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIntervalmb" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIntervalmb" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="menu-box" style="background-color: #fff7df; padding: 0 0 0 0;">
         <div class="container">
            <div class="menus pattern">
               <div class="title">
                  <div class="img-box">
                     <img src="/images/main-logo.png">
                  </div>
                  <h3>Our Food Menu</h3>
               </div>
               <div class="menu-area">
                  <div class="row">
                     <div class="col-md-6">
                        <div class="menu-card">
                           <h3 class="tt">Fish and chips</h3>
                           <ul>
                              <li>
                                 <h3>Cone of chips <span>£1.30</span></h3>
                              </li>
                              <li class="special">
                                 <h3>Regular chips  <span>£1.70</span></h3>
                              </li>
                              <li>
                                 <h3>Large chips <span>£2.90</span></h3>
                              </li>
                              <li>
                                 <h3>Chip Batch  <span>£1.85</span></h3>
                              </li>
                              <li>
                                 <h3>Cod  <span>£4.55</span></h3>
                              </li>
                              <li>
                                 <h3>Haddock  <span>£4.55</span></h3>
                              </li>
                              <li>
                                 <h3>Tinned Roe  <span>£1.40</span></h3>
                              </li>
                              <li>
                                 <h3>Fishcake<span>£1.30</span></h3>
                              </li>
                           </ul>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="menu-card">
                           <h3 class="tt">Kebabs</h3>
                           <ul>
                              <li>
                                 <h3>Doner Batch <span>£3.35</span></h3>
                              </li>
                              <li class="special">
                                 <h3>Small Doner Kebab <span>£4.45</span></h3>
                              </li>
                              <li>
                                 <h3>Large Doner Kebab<span>£4.75</span></h3>
                              </li>
                              <li>
                                 <h3>Doner Meat & Chips <span>£4.65</span></h3>
                              </li>
                              <li>
                                 <h3>Doner Wrap <span>£3.35</span></h3>
                              </li>
                              <li>
                                 <h3>Portion of Doner Meat <span>£4.75</span></h3>
                              </li>
                              <li>
                                 <h3>Chicken Wrap <span>£3.50</span></h3>
                              </li>
                              <li>
                                 <h3>Chicken Kebab Batch <span>£3.50</span></h3>
                              </li>
                           </ul>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="menu-card">
                           <h3 class="tt">Burgers</h3>
                           <ul>
                              <li>
                                 <h3>2 Faggots, Chips & Peas <span>£3.95</span></h3>
                              </li>
                              <li class="special">
                                 <h3>1/4lb Burger with Salad <span>£2.20</span></h3>
                              </li>
                              <li>
                                 <h3>Double Decker Burger <span>£2.85</span></h3>
                              </li>
                              <li>
                                 <h3>1/4 Cheese Burger <span>£2.50</span></h3>
                              </li>
                              <li>
                                 <h3>DoubleDecker Cheese Burger <span>£2.99</span></h3>
                              </li>
                              <li>
                                 <h3>Vegi Burger with Salad <span>£2.50</span></h3>
                              </li>
                              <li>
                                 <h3>Chicken Burger with Salad <span>£2.70</span></h3>
                              </li>
                              <li>
                                 <h3>Spring Roll <span>£1.75</span></h3>
                              </li>
                           </ul>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="menu-card">
                           <h3 class="tt">Extras</h3>
                           <ul>
                              <li>
                                 <h3>Batch <span>45p</span></h3>
                              </li>
                              <li class="special">
                                 <h3>Pitta Bread <span>45p</span></h3>
                              </li>
                              <li>
                                 <h3> Mushrooms in Batter (5)<span>£1.00</span></h3>
                              </li>
                              <li>
                                 <h3>Potato Delight (5) <span>£1.00</span></h3>
                              </li>
                              <li>
                                 <h3>Bottle of Vinegar <span>£1.20</span></h3>
                              </li>
                              <li>
                                 <h3>Cockles <span>£2.25</span></h3>
                              </li>
                              <li>
                                 <h3>Mussels <span>£1.95</span></h3>
                              </li>
                              <li>
                                 <h3>Pickled Eggs <span>45p</span></h3>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
<!--                  <div class="row">-->
<!--                     <div class="col-md-12 text-center mt-5">-->
<!--                        <router-link :to="{ path: '/view-menu'}"> <a href="#" class="custom-btn">View All <i class="fas fa-arrow-right"></i></a></router-link>-->
<!--                     </div>-->
<!--                  </div>-->
               </div>
            </div>
         </div>
        </section>
        <section class="deliver-area" style="background-color: #fff7df; padding:50px 0 50px 0;">
         <div class="container">
            <div class="locations">
               <h3><i class="fas fa-map-marker-alt"></i> We are offering Deliveries in these areas</h3>
               <ul>
                  <li>
                     <a href="#">Cv1</a>
                  </li>
                  <li>
                     <a href="#">Cv2</a>
                  </li>
                  <li>
                     <a href="#">Cv3</a>
                  </li>
                  <li>
                     <a href="#">Cv4</a>
                  </li>
                  <li>
                     <a href="#">Cv5</a>
                  </li>
                  <li>
                     <a href="#">Cv6</a>
                  </li>
                  <li>
                     <a href="#">Cv7</a>
                  </li>
               </ul>
               <div class="overlay-bg"></div>
            </div>
         </div>
        </section>
        <section class="reservation" style="background-color: #fff7df; padding:0 0 50px 0;">
         <div class="container">
            <div class="table-booked pattern">
               <div class="row">
                  <div class="col-md-6">
                     <div class="img-box">
                        <div style="width: 100%">

                            <div style="width: 100%"><iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=UNIT%2018,%2014-20%20GEORGE%20STREET,BIRMINGHAM,B12%209RG+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://www.maps.ie/route-planner.htm">Plan A Journey</a></div>

                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-box">
                        <div class="title">
                           <h3>Contact us</h3>
                           <p>03301330247.</p>
                           <p>UNIT 18, 14-20 GEORGE STREET,BIRMINGHAM,B12 9RG</p>
                        </div>
                        <form>
                           <div class="frm-body">
                              <div class="form-row">
                                 <div class="form-group col-md-6">
                                    <label for="">Name</label>
                                    <input type="text" class="form-control" id="" placeholder="Your Name*">
                                 </div>
                                 <div class="form-group col-md-6">
                                    <label>Email</label>
                                    <input type="email" class="form-control" id="" placeholder="your email *">
                                 </div>
                              </div>
                              <div class="form-row">
                                 <div class="form-group col-md-6">
                                    <label for="">Address</label>
                                    <input type="text" class="form-control" id="" placeholder="Address">
                                 </div>
                                 <div class="form-group col-md-6">
                                    <label>Number</label>
                                    <input type="phone" class="form-control" id="" placeholder="Number">
                                 </div>
                              </div>
                           </div>
                           <div class="frm-ftr text-center mt-4">
                              <button class="custom-btn">Submit <i class="fas fa-long-arrow-alt-right"></i></button>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
        </section>
        <section class="bar-info">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <h3>ACHIEVE YOUR DIET GOALS</h3>
                    </div>
                    <div class="col-md-3">
                        <a class="cstm-btn" @click.prevent="openPostalCode" href="#">Order Now</a>
                    </div>
                </div>
            </div>
        </section>

        <postal-code-popup  @HideModalValue="hideModal"   :showModalProp="showPostalCode"></postal-code-popup>
        <footer-menu></footer-menu>


    </div>
</template>

<script>
    import VueGallery from 'vue-gallery';
    import {
        Hooper,
        Slide,
        Navigation as HooperNavigation
    } from 'hooper';

    import 'hooper/dist/hooper.css';
    export default {
        components: {
            Hooper,
            Slide,
            HooperNavigation,
            'gallery': VueGallery,
        },
        data: function () {
            return {
                images: [
                    '../../images/mainbanner1.jpeg',
                    '../../images/image00003.jpg',
                ],
                stories: [],
                index: null,
                showPopup: false,
                menu: false,
                postal_code: '',
                error_message: '',
                showPostalCode: false,
                menu: false,
                allergy: false

            };
        },
        mounted() {
           // this.getStory();
            console.log('Component mounted.')
        },
        methods: {
            hideModal() {
                this.showPopup = false;
                this.showPostalCode = false;
            },

            openMenu() {

                this.showPopup = true;
                this.menu = true;
                this.allergy = false;
            },

            openAllergy() {
                this.showPopup = true;
                this.allergy = true;
                this.menu = false;
            },
            openPostalCode() {
                this.showPopup = false;
                this.allergy = false;
                this.menu = false;
                this.showPostalCode = true;
            },
            checkPostCode() {
                let vm = this;
                if (this.postal_code == '') {
                    vm.error_message = 'Please Enter Your Postal Code';
                } else {
                    axios({
                        method: 'post',
                        url: '/api/check-postal',
                        data: {
                            postal_code: this.postal_code
                        },
                    }).then(function (response) {
                        if (response.data.error === undefined) {
                            vm.error_message = response.data.data.amount;
                            vm.$store.commit('setDeliveryCharges', response.data.data.amount);
                            vm.$router.push({path: 'online-order/' + vm.postal_code})

                        } else {
                            vm.error_message = 'We are not providing food in your Area';
                        }
                    })
                        .catch(function (response) {
                            //handle error
                            console.log(response);
                        });
                }

            },

        }
    }
</script>

